html{scroll-behavior: smooth;}h1,h2,h3,h4,h5,h6{font-family: 'Montserrat', sans-serif;}h1{font-weight: 900; font-size: 100%; font-style: normal;}.mobile-nav a{font-size: 1.2rem; letter-spacing: 1px; margin-right:1rem;}.navbar-nav a{transition: .4s ease;}.navbar-dark .navbar-nav .nav-link{color: #ffffffda; font-weight:600;}.navbar-dark .navbar-nav .nav-link:hover{color: #FFCC29; text-decoration: underline;}.typing-text{margin-left: 100px;}.hero-section{height: 100vh; width: 100%;}.my-another-photo{width: 330px; height: 440px; transition: .4s;}.my-another-photo:hover{transform: rotate(5deg);width:350px;height:460px ;}.p-profile{display: flex; flex-wrap: wrap; justify-content:space-around;}.about{width: 50%; padding: 1rem;}.icon{border-radius: 50%; color: fff; transition: .4s ease;}.icon:hover{background-color: white;color: rgb(39, 10, 10);transition: .5s;border-radius: 70%;cursor: pointer;}section div .section-head{color:#F58634 !important; font-weight: 600;}.fa-icon{color: #7DFFFACC;border-radius: 5px;}.name-title{color:#FFDE7DE8;}.name{color:white}/* services-section starts here */.services-section{background-color: #152136;}.small-line{height: 4px; width:25px; background:green ; margin: auto; margin-bottom: 6px; transition: .7s;}.flex-item:hover .small-line{width:90px ;}.flex-container{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; width: 100%; -webkit-flex-wrap: wrap; flex-wrap: wrap;}.flex-container .flex-item{box-shadow: 5px 6px 2px #000000; transform: translate(1.1); flex: 1;}/* button Design */.hire-me-btn{height: 50px; width: 160px; letter-spacing: 2px; font-weight: 500; background-color: #19273e1a; color:wheat; transition: .5s; outline: 3px solid #F58634;}.hire-me-btn:hover{background-color: #F58634; color: white; outline: wheat;}/* gallery */.filter-items{margin: 0 auto;}.filter-items ul li{display:inline-block; margin: 20px 10px; cursor: pointer; font-size: 1.5rem; background-color:blue; color: fff; padding: 3px 5px; border: 2px solid red;}.filter-items .active{background-color: yellow; color: rgb(39, 10, 10);}.filter-items{display: block; width: 50vw; margin: auto;}.items{margin-left: 8%;}.items .item{height: 350px; width: 350px; overflow: hidden; box-sizing: border-box; margin: 10px;}.items .item img{height: 100%; width: 100%; display: block;}.overlay-wrapper{position:relative;}.item .container-1, .item .container-2,.item .container-3,.item .container-4,.item .container-5,.item .container-6{height: 100%; width: 100%; background-color: rgba(1, 1, 22, 0.7); position: absolute; top: 0; left: 0; z-index: 4; opacity: 0; transition: .5s ease; transform: translateY(-50px); margin: 0; padding: 0;}.mail-hover:hover{color: white;}.item .container-1:hover{opacity: 1; transform: translateY(0px); border: 10px solid #010633;}.overlay-text{height: 100%; width: 100%;}.item .container-2:hover{opacity: 1; transform: translateY(0px); border: 10px solid #2A5B94;}.item .container-2:hover{opacity: 1; transform: translateY(0px); border: 10px solid ;}.item .container-3:hover{opacity: 1; transform: translateY(0px); border: 10px solid #2A5B94;}.item .container-4:hover{opacity: 1; transform: translateY(0px); border: 10px solid #FFFFFF;}.item .container-5:hover{opacity: 1; transform: translateY(0px); border: 10px solid #685E3C;}.item .container-6:hover{opacity: 1; transform: translateY(0px); border: 10px solid #0D82DF;}/* degree section starts */.degree{display: flex; justify-content: center; flex-grow: 1;}.degree h6{color: #8CC090; font-size: .8rem;}.degree div hr{width: 30%; height: 4px; margin: auto; background-color: #8CC090; transition: .3s ease;}.degree div:hover hr{width: 100%;background-color: #fff;opacity:.9;}/* degree section ends *//* carousel starts here */.carousel-inner div img{width: 150px; height: auto; margin: auto; padding-top: 20px;}.carousel-inner div p{width: 40vw; margin: auto; padding-bottom: 20px;}.carousel-indicators{bottom: -40px;}/* carousel ends here *//* progress bar start */.progress-bar{width:80%; margin-bottom: 20px; background-color: #ddd; border-radius:10px; height: 15px;}.progress{width:0; border-radius: 10px; height: 20px; text-align: right; position: relative;}.progress span{font-size: 10px; display: inline-block; position: absolute; top: 0px; right: 10px; color: white;}/* progress bar ends *//* scroll up */#scrollUp{bottom: 20px; right: 30px; padding: 10px 20px; background:#FFCC29; color: rgb(12, 1, 1);}#scrollup:hover{color: #fff;}/* contact form */.contact-form{width:40%; max-width: 600px; margin: auto; color: #fff;}form div .name-mail-text{background: #151515; color: #fff; border: none; border-radius: 0; border-bottom: 3px solid #fff;}form div .name-mail-text:focus{background: #151515; border:3px solid #fff; color: #fff; border: none; border-radius: 0; border-bottom: 3px solid #fff;}form .submit-button{width: 70%; display: flex; justify-content: center; margin: auto;}form button{width: 100%;}footer{margin-top:-25px;} 

.my-work-link:hover{
    color: #FFCC29 !important;
    text-decoration: underline !important;
}
/* ////////////////// */
/* Blog page starts */
/* ////////////////// */
.blog-main , .blog-sidebar{
margin:0 ;
padding: 0;
float: left;
}
.blog-section main img{
    width: 300px;
    height: auto;
  
}
.blog-sidebar a{
    color:#fdca40;
    text-decoration:none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
.blog-sidebar a:hover{
    color: white;
    text-decoration: underline;
    font-style: italic;
}


/* ////////////////// */
/* Blog page ends */
/* ////////////////// */

/* ////////////////// */
/* work page starts */
/* ////////////////// */

.work-section img{
    width: 300px;
    height: auto;
}



/* ////////////////// */
/* work page ends*/
/* ////////////////// *
